<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/navbar2.css">
</head>

<body>
    {% load static %} {% for target in targetUser %}

    <header>

        <div class="employee">
            <div class="top_s1">

                <h2>
                    <a href="/stories/@{{target}}">

                        {{target|title}}
                    </a>

                </h2>



                {% if target.profile.followers.count == 1 %} {% if request.user in target.profile.followers %}

                <div class="followers">
                    <a href="/followers/{{target}}">
                        {{target.profile.followers.count}} 
                        Followers
                    </a>
                </div>

                {% endif %} {% else %}

                <div class="followers">
                    <a href="/followers/{{target}}">
                        {{target.profile.followers.count}} 
                        Followers
                    </a>
                </div>


                {% endif %}


                <div class="About">
                    <a href="/about/@{{target}}">
                        About
                    </a>
                </div>


                {% if request.user.is_authenticated %} {% if request.user != target %} {% if target in request.user.profile.following.all %}

                <button class="followButton" data-from={{request.user}} data-to={{target}} style="background-color: white; color:rgb(172, 81, 208)">
                    Following
                </button> {% else %}
                <button class="followButton" data-from={{request.user}} data-to="{{target}}" style="background-color: rgb(172, 81, 208); color:white">
                    Follow
                </button> {% endif %}

                <button class="envelopeBtn">
                    <i class="bi bi-envelope"></i>     
                </button> {% endif %} {% endif %}

            </div>

            <div class="top_s2">
                <form class="searchField" method="GET" action="/search">
                    <button type="submit">
                        <img src="{% static 'Svg/searchIcon.svg' %}" alt="search" width="20" style="margin-top: 2px;">

                    </button>

                    <input type="text" placeholder="Search Story" name="q" id="searchTerm">
                </form>

                <a href="/">
                    <img src="{% static 'Image/triangle_icon.png' %}" alt="triangle">
                </a>

            </div>


        </div>



    </header>


    {% endfor %}

</body>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>


<script src="{% static 'js/follow.js' %}">
</script>


</html>