<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/navbar.css">


</head>

<body>

    <header>
        <div class="employee">
            {% load static %}
            <div class="top_logo">
                <a href="/">
                    <img src="{% static 'Image/logo.png' %}" alt="triangle">
                </a>

            </div>


            {% if request.user.is_authenticated %}
            <div class="options">
                <form class="searchField" method="GET" action="/search">
                    <button type="submit">

                        <img src="{% static 'Svg/searchIcon.svg' %}" alt="search" width="20" style="margin-top: 2px;">

                    </button>

                    <input type="text" placeholder="Search Story" name="q" id="searchTerm">

                </form>

                <div class="readList">
                    <a href="/readList/@{{request.user}}">

                        <img src="{% static 'Svg/bookmarks.svg' %}" alt="readLists">
                    </a>

                </div>


                <div class="userOptions">


                    <div class="userImage">


                        <img src="{{user.profile.profile_image.url}}" alt="user-photo">

                    </div>

                    <div class="dropdownWrap">

                        <div class="top_info">


                            <img src="{{user.profile.profile_image.url}}" alt="user-photo" width="30">

                            <div class="info_s">
                                <h5>{{request.user.username|title }}</h5>
                                <h6> @{{request.user.email|truncatechars:11 }}</h6>
                            </div>
                        </div>

                        <ul>
                            <li>

                                <a href="/new-story">
                                    Write a story
                                </a>
                            </li>
                            <li>
                                <a href="/stories/@{{request.user}}">
                                    Stories
                                </a>
                            </li>
                            <li>
                                <a href="/about/@{{request.user}}">
                                    About You
                                </a>
                            </li>
                            <li>
                                <a href="/logout">
                                    Sign Out
                                </a>
                            </li>
                        </ul>

                        <div class="btm_inf">

                            <li>
                                <a href="#">
                                    Privacy
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Terms
                                </a>
                            </li>
                        </div>

                    </div>



                </div>


            </div>

            {% else %}


            <div class="options">

                <button class="loginBtn">
                         <a href="/login">
                            Sign In
                        </a>
                    </button>
                <button class="registerBtn">
                        <a href="/register">
                           Register
                       </a>
                   </button>
            </div>


            {% endif %}



        </div>



    </header>


</body>
<script src="../../static/js/jquery-3.2.1.min.js"></script>

<script src="../../static/js/navbar.js"></script>


</html>